[gen]
drvType="fs"
name="RivFs_FAT32"
destFp="fat32"
vers="0.0 ALPHA"

[cfg]
# Base functions 
shouldactivatefn="shouldActivate"
openfn="open"
writefn="write"
closefn="close"
readfn="read"
srcdir="src"
# Only if mounted root is fatal
abort=FATAL_IF_ROOT

[cfg.fs]
type="fat32"

[expects.sysc]
# Int 0x30 is the RivOS Live driver interrupt for 1.0 ALPHA
int=0x30
# We expect the RivOSDrvOpLive because we are a live RivOS driver
# NOTE: This also means the interrupt numbers are guaranteed. 
abi="RivOSDrvOpLive"
# Currently not specced out, can change.
vers="1.0 ALPHA"
[expects.drv]
# Expects storage driver to be loaded
# BaseIO should be enabled
drvs=storage, baseio
# Storage should be on, to read the sectors.
req=storage
# BaseIO is only required for logging
opt=baseio
# Act like it does exist, however just do nothing with it.
opthandlr=FAKE 

[expects.drv.storage.base]
# Any driver should expect this ABI 
abi="RivOSDrvOpLive"
# All functions are required. 
functions=all
# We do not care about the version, as long as the function signatures are the same
vers=auto
[expects.drv.storage.custom]
# Can change with version
readargs=sec, buf, size
writeargs=sec, buf, size
# No agrs
getdrivesargs=none
getmaxdriveamargs=none
# We do not care about the selected drive:
drivesel=auto

[expects.drv.baseio.base]
# Doesn't really matter
abi="RivOSDrvOpLive"
functions=all
vers=auto
[expects.drv.baseio.custom]
writeargs=buf, size

[expects.order]
# Position in which it gets activated
# We don't care about this: we can start whenever
pos=auto 

[build.sourceFiles]
type="cpp"
list=main.cpp
